* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
}

/*scroll*/

body::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(234, 234, 234) !important;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(161, 161, 161) !important;
}

.submenu::-webkit-scrollbar {
  width: 6px;
}
.submenu {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.submenu::-webkit-scrollbar-track {
  background: #f5f4f4;
}
.submenu::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 6px;
  border: 0.5px solid white;
}
.nahan::-webkit-scrollbar {
  width: 6px;
}
.nahan {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.nahan::-webkit-scrollbar-track {
  background: #f5f4f4;
}
.nahan::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 6px;
  border: 0.5px solid white;
}
.bar-page3 > p::-webkit-scrollbar {
  display: none;
}

.gallery-hide-pics::-webkit-scrollbar {
  width: 6px;
}
.gallery-hide-pics {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.gallery-hide-pics::-webkit-scrollbar-track {
  background: #f5f4f4;
}
.gallery-hide-pics::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 6px;
  border: 0.5px solid white;
}

@keyframes zoomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rotateIn {
  transform: rotate(360deg);
  transition: all 400ms linear;
}
.rotate {
  transform: rotate(180deg);
  transition: all 400ms linear;
}
.rotateOut {
  transform: rotate(-360deg);
  transition: all 600ms linear;
}
.width {
  width: 260px;
  transition: all 400ms linear;
}
/*end scroll*/

/*slider*/

.swiper {
  width: 100%;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .slider-desktop > .swiper {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 1280px) {
  .slider-desktop > .swiper {
    width: 100%;
    height: 400px;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*end slider*/
.dasteh-bandi::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 35px;
}

/*swiper1*/
.swiper1 .swiper {
  width: 97%;
  height: 100%;
}

.swiper1 .swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li.sub:hover > div.submenu {
  display: block;
}

/*end swiper1*/

/*swiper2 offer*/
.swiper2 .swiper {
  width: 100%;
  height: 363px;
}

.swiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .low-height:hover .child {
    height: 275px !important;
  }
  .low-height:hover h3 {
    color: white;
    transition: all 400ms linear;
  }
  .low-height:hover h4 {
    color: white;
    transition: all 400ms linear;
  }
  .low-height:hover span.second {
    color: #e10a0a;
    transition: all 400ms linear;
    background-color: white;
  }
  .low-height:hover img.off {
    transform: translateY(-25px);
    transition: all 400ms linear;
  }
  img.sayeh {
    position: absolute;
    height: 35px !important;
    top: 180px;
    transform: scale(0);
    transition: all 400ms linear !important;
    transform-origin: center;
  }
  .low-height:hover img.sayeh {
    transform: scale(1);
  }
}

/*end swiper2 offer*/

/*swiper3&5 phone & soti*/
.swiper3 .swiper {
  width: 100%;
  height: 100%;
}

.swiper3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper3 .swiper-slide img {
  display: block;

  height: 100%;
}

.gooshi::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 120%;
}
/*end swiper3$5 phone$soti*/

/*swiper4 mahboob*/

div.first > p::before {
  width: 32px;
  height: 2px;
  display: block;
  content: "";
  background-color: #f18d8d;
  position: absolute;
  top: 50%;
  right: -45px;
}
div.first > p::after {
  width: 32px;
  height: 2px;
  display: block;
  content: "";
  background-color: #f18d8d;
  position: absolute;
  top: 50%;
  left: -45px;
}

.swiper4 .swiper {
  width: 100%;
  height: 100%;
}

.swiper4 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  border-radius: 20px;
}

.swiper4 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top {
  transform: translateY(-30px);
  transition: all 600ms linear;
}
.return {
  transform: translateY(0);
  transition: all 600ms linear;
}
@media (min-width: 1024px) {
  .active:hover img.off {
    transform: translateY(-35px);
    transition: all 400ms linear !important;
  }
  .active img.sayeh {
    position: absolute;
    height: 35px !important;
    top: 220px;
    transform: scale(0);
    transition: all 400ms linear !important;
    transform-origin: center;
  }
  .active:hover img.sayeh {
    transform: scale(1);
  }
}
@media (max-width: 1024px) {
  img.sayeh {
    display: none !important;
  }
}
/*end swiper4 mahboob*/

/*jaryan*/
h1.jaryan::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 130%;
}

/*end jaryan*/

/*swiper5 soti*/

h1.soti::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 130%;
}
h1.laptop::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 130%;
}

/*end swiper5 soti*/

/*swiper8*/
.swiper8 .swiper {
  width: 100%;
  height: 470px;
}

.swiper8 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear;
  transform-origin: top;
}

.swiper8 .swiper-slide img {
  display: block;

  object-fit: cover;
}
.swiper8 .swiper-slide:hover {
  transform: rotate(7deg);
}
.btm {
  direction: ltr;
}

/*end swiper8*/

/*majale*/
h1.majale::before {
  content: "";
  display: block;
  width: 46px;
  height: 4.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 130%;
}
div.chap:hover > img {
  transform: scale(1.1) !important;
}
.zoom:hover > img {
  transform: scale(1.1) !important;
}
/*end majale*/

/*best brands*/
div.best-brands > p::before {
  width: 32px;
  height: 1px;
  display: block;
  content: "";
  background-color: #a4a4a4;
  position: absolute;
  top: 50%;
  right: -45px;
}
div.best-brands > p::after {
  width: 32px;
  height: 1px;
  display: block;
  content: "";
  background-color: #a4a4a4;
  position: absolute;
  top: 50%;
  left: -45px;
}

.best .swiper {
  width: 100%;
  height: 100%;
}

.best .swiper-wrapper {
  transition-timing-function: linear !important;
}

.best .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 660px;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.best .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.best .swiper-slide:hover {
  border-color: #888888;
}
/*end best brands*/
/*accordion*/

.transform {
  transform: rotate(180deg) !important;
  color: #e10a0a !important;
  transition: all 300ms linear !important;
}
.block {
  display: block !important;
}
.block2 {
  display: block !important;
  transition: all 300ms linear !important;
}
.none {
  display: none !important;
}

/*end accordion*/
.focus {
  transform: rotate(360deg);
  color: #e10a0a;
  transition: all 400ms linear;
}
.tool {
  width: 200px;
  transition: all 400ms linear;
}
.mavared p {
  cursor: pointer;
}
.khdmat > img {
  filter: opacity(70%);
}
.btm-menu,
.afzoodan-sm {
  box-shadow: 5px -0.3px 5px lightgrey;
}
.brands > p:hover {
  color: #e10a0a !important;
}
.redd {
  color: #e10a0a !important;
}
.back-redd {
  background-color: #e10a0a !important;
}
div.one > span {
  transition: all 500ms linear;
}

.two > p {
  margin-bottom: 10px;
}
.two > p:last-child {
  margin-bottom: 0;
}
.transparent {
  background-color: white;
}
div.ashkar {
  padding-top: 8px;
}

div.phone-items {
  transition: all 300ms linear;
  margin-bottom: 5px;
}
div.prices > h4 {
  height: 18px;
}
div.phone-items:hover {
  box-shadow: 0px 0.9px 2.2px rgba(0, 0, 0, 0.02),
    0.1px 2.1px 5.3px rgba(0, 0, 0, 0.028), 0.1px 4px 10px rgba(0, 0, 0, 0.035),
    0.2px 7.1px 17.9px rgba(0, 0, 0, 0.042),
    0.4px 13.4px 33.4px rgba(0, 0, 0, 0.05), 1px 32px 80px rgba(0, 0, 0, 0.07);
}
.selected {
  background-color: #e10a0a !important;
  color: white;
}
.selected2 {
  color: #e10a0a;
  cursor: default;
}
.selected:hover {
  background-color: #e10a0a;
  color: white;
}
.prev-footer p {
  text-align: justify;
}
.scale {
  transform-origin: bottom;
  transform: scale(1) !important;
  transition: all 500ms linear;
}
div.in-left-brands * {
  font-size: 16px !important;
}
div.in-left-brands > div.rasti {
  gap: 10px !important;
}
div.in-left-brands > p {
  font-weight: 500;
}
div.in-left-brands {
  margin-bottom: 10px;
}
div.in-left-brands div.tick i {
  font-size: 10px !important;
}
.nav-color {
  background-color: #e10a0a;
  color: white;
}
.nav-color:hover {
  background-color: #e10a0a;
  color: white;
}

/*swiper page3*/

.page3 .swiper {
  width: 100%;
  height: 100%;
}

.page3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3 .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.page3 .swiper-slide {
  background-size: cover;
  background-position: center;
}

.page3 .mySwiper40 {
  height: 100%;
  width: 100%;
}

.page3 .mySwiper30 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  transform: translateY(-75px);
}

.page3 .mySwiper30 .swiper-slide {
  width: 64.5px;
  height: 64.5px !important;
  opacity: 0.4;
  padding: 5px !important;
  border: 0.2px solid lightgray;
  border-radius: 10px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .page3 .mySwiper30 .swiper-slide {
    height: 56.5px !important;
  }
}
.page3 .mySwiper30 .swiper-slide-thumb-active {
  opacity: 1;
}

.page3 .mySwiper40 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.page3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .page3 .swiper-slide img {
    display: block;
    width: 280px;
    height: 100%;
    object-fit: contain;
    margin-bottom: 40px !important;
  }
  .swiper-pagination {
    justify-content: center;
    position: absolute !important;
    top: 90% !important;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
  }
  .page3 .mySwiper40 .swiper-slide img {
    display: block;
    width: 320px;
    height: 100%;
    object-fit: contain;
  }
  .page3 .mySwiper40 {
    margin-top: 30px;
  }
}
@media (min-width: 1280px) {
  .swiper-pagination {
    position: absolute !important;
    top: 85% !important;
    transform: translateY(-40px) !important;
  }
  .page3 .mySwiper40 .swiper-slide {
    width: 90%;
    height: 90%;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .swiper-pagination {
    position: absolute !important;
    top: 75% !important;
  }
  .page3 .mySwiper40 .swiper-slide {
    width: 100%;
    height: 100%;
  }
}
.swiper-pagination-bullet {
  background-color: #e10a0a !important;
}

/*end swiper page3*/
.borderr {
  border: 3px solid gray;
}
.dayere-tedad {
  box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.017),
    0px 0px 1.3px rgba(0, 0, 0, 0.024), 0px 0px 2.5px rgba(0, 0, 0, 0.03),
    0px 0px 4.5px rgba(0, 0, 0, 0.036), 0px 0px 8.4px rgba(0, 0, 0, 0.043),
    0px 0px 20px rgba(0, 0, 0, 0.06);
}
.moarefi-color {
  color: #e10a0a !important;
}
.bord-l::before {
  content: "";
  display: block;
  height: 10px;
  width: 2px;
  background-color: #ada4ad;
  position: absolute;
  left: 0;
  top: 30%;
}

@media (max-width: 1024px) {
  th {
    font-size: 12px;
  }
}
.swiper-slide {
  cursor: pointer;
}
