* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
/*scroll*/
/* html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
body::-webkit-scrollbar {
  width: 7px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: #f5f4f4;
}
body::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 6px;
}

html {

  overflow: hidden;
}
body {
  height: 100vh;
 
  overflow-y: auto;
  direction: ltr !important;



} */

.submenu::-webkit-scrollbar {
  width: 6px;
}
.submenu {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.submenu::-webkit-scrollbar-track {
  background: #f5f4f4;
}
.submenu::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 6px;
  border: 0.5px solid white;
}

@keyframes zoomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.rotateIn {
  transform: rotate(360deg);
  transition: all 400ms linear;
}
.rotateOut {
  transform: rotate(-360deg);
  transition: all 600ms linear;
}
.width {
  width: 260px;
  transition: all 400ms linear;
}
/*end scroll*/

/*slider*/

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*end slider*/
.dasteh-bandi::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 40px;
}

/*swiper1*/
.swiper1 .swiper {
  width: 97%;
  height: 100%;
}

.swiper1 .swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li.sub:hover > div.submenu {
  display: block;
}
.jvti {
  display: block;
}
/*end swiper1*/

/*swiper2 offer*/
.swiper2 .swiper {
  width: 100%;
  height: 363px;
}

.swiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .low-height:hover .child {
    height: 275px !important;
  }
  .low-height:hover h3 {
    color: white;
    transition: all 400ms linear;
  }
  .low-height:hover h4 {
    color: white;
    transition: all 400ms linear;
  }
  .low-height:hover span.second {
    color: #e10a0a;
    transition: all 400ms linear;
    background-color: white;
  }
  .low-height:hover img.off {
    transform: translateY(-25px);
    transition: all 400ms linear;
  }
  img.sayeh {
    position: absolute;
    height: 35px !important;
    top: 180px;
    transform: scale(0);
    transition: all 400ms linear !important;
    transform-origin: center;
  }
  .low-height:hover img.sayeh {
    transform: scale(1);
  }
}

/*end swiper2 offer*/

/*swiper3&5 phone & soti*/
.swiper3 .swiper {
  width: 100%;
  height: 100%;
}

.swiper3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper3 .swiper-slide img {
  display: block;

  height: 100%;
}

.gooshi::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 120%;
}
/*end swiper3$5 phone$soti*/

/*swiper4 mahboob*/

div.first > p::before {
  width: 32px;
  height: 2px;
  display: block;
  content: "";
  background-color: #f18d8d;
  position: absolute;
  top: 50%;
  right: -45px;
}
div.first > p::after {
  width: 32px;
  height: 2px;
  display: block;
  content: "";
  background-color: #f18d8d;
  position: absolute;
  top: 50%;
  left: -45px;
}

.swiper4 .swiper {
  width: 100%;
  height: 100%;
}

.swiper4 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  border-radius: 20px;
}

.swiper4 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top {
  transform: translateY(-30px);
  transition: all 600ms linear;
}
.return {
  transform: translateY(0);
  transition: all 600ms linear;
}
@media (min-width: 1024px) {
  .active:hover img.off {
    transform: translateY(-35px);
    transition: all 400ms linear !important;
  }
  .active img.sayeh {
    position: absolute;
    height: 35px !important;
    top: 220px;
    transform: scale(0);
    transition: all 400ms linear !important;
    transform-origin: center;
  }
  .active:hover img.sayeh {
    transform: scale(1);
  }
}
@media (max-width: 1024px) {
  img.sayeh {
    display: none !important;
  }
}
/*end swiper4 mahboob*/

/*jaryan*/
h1.jaryan::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 130%;
}

/*end jaryan*/

/*swiper5 soti*/

h1.soti::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 130%;
}
h1.laptop::before {
  content: "";
  display: block;
  width: 46px;
  height: 3.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 130%;
}

/*end swiper5 soti*/

/*swiper8*/
.swiper8 .swiper {
  width: 100%;
  height: 470px;
}

.swiper8 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear;
  transform-origin: top;
}

.swiper8 .swiper-slide img {
  display: block;

  object-fit: cover;
}
.swiper8 .swiper-slide:hover {
  transform: rotate(7deg);
}
.btm {
  direction: ltr;
}

/*end swiper8*/

/*majale*/
h1.majale::before {
  content: "";
  display: block;
  width: 46px;
  height: 4.5px;
  background-color: #e10a0a;
  position: absolute;
  top: 130%;
}
div.chap:hover > img {
  transform: scale(1.1) !important;
}
.zoom:hover > img {
  transform: scale(1.1) !important;
}
/*end majale*/

/*best brands*/
div.best-brands > p::before {
  width: 32px;
  height: 1px;
  display: block;
  content: "";
  background-color: #a4a4a4;
  position: absolute;
  top: 50%;
  right: -45px;
}
div.best-brands > p::after {
  width: 32px;
  height: 1px;
  display: block;
  content: "";
  background-color: #a4a4a4;
  position: absolute;
  top: 50%;
  left: -45px;
}

.best .swiper {
  width: 100%;
  height: 100%;
}

.best .swiper-wrapper {
  transition-timing-function: linear !important;
}

.best .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 660px;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.best .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.best .swiper-slide:hover {
  border-color: #888888;
}
/*end best brands*/
/*accordion*/

.transform {
  transform: rotate(180deg) !important;
  color: #E10A0A !important;
  
}
.block{
  display: block;
}
.none{
  display: none;
 
}
/*end accordion*/
.focus{
  transform: rotate(360deg);
  color: #E10A0A;
}
.tool{
  width: 200px;
}
.mavared p{
  cursor: pointer;
}
.khdmat > img{
  filter: opacity(70%)
}
.btm-menu{
  box-shadow: 5px -0.3px 5px lightgrey;
}
.brands > p:hover{
  color: #E10A0A !important;
}